:root {
    --bg-color: #1d2026;
    --bg-btn-color: #efefef;
    --color-green: #00986f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s ease;
}

html,
body {
    font-family: 'poppins', sans-serif;
    font-size: 12px;

    background-color: var(--bg-color);
}



.hero {
    color: #fff;

    width: 100%;
    min-height: 100vh;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;

    padding: 1rem 8rem;
}

.nav .menu-img {
    cursor: pointer;
    width: 25px;
    margin-right: 1rem;
}

.nav .logo-img {
    cursor: pointer;
    width: 160px;
}

.nav ul {
    flex: 1;
    text-align: right;
}

.nav ul li {
    display: inline-block;
    list-style: none;

    margin: 0 1rem;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: var(--bg-btn-color);

    outline: none;
    cursor: pointer;

    border: 0;
    border-radius: 20px;

    width: 60px;
    height: 30px;
}

.btn span {
    background: #999;

    display: block;
    border-radius: 50%;

    height: 26px;
    width: 26px;
    margin-left: 2px;
}

.lamp-container {
    width: 200px;

    position: absolute;
    top: -20px;
    left: 22%;
}

.lamp-img {
    width: 100%;
}

.light-img {
    width: 700px;
    margin-left: -10px;

    position: absolute;
    top: 98%;
    left: 50%;

    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .5s ease;
}

.text-container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1 {
    font-size: 5em;
    font-weight: 400;
}

.text-container span {
    color: var(--color-green);
}

.text-container p {
    margin: 1rem 0;
}

.text-container a {
    display: inline-block;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;

    border-radius: 30px;

    padding: 1rem 2rem;
    margin: 1rem 0;

    background-color: var(--color-green);
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 50%;
}

.control .line {
    width: 250px;
    height: 4px;
    margin: 0 1rem;

    background-color: #fff;
    border-radius: 2px;
}

.control .line span {
    display: block;

    background-color: var(--color-green);
    border-radius: 4px;

    width: 50%;
    height: 6px;
    margin-top: -1px;
}

.btnActive {
    background-color: var(--color-green);
}

.btnActive span {
    background-color: #fff;
    margin-left: 31px;
}

.lightOn {
    opacity: 1;
}